html {
    height: 100%
}

body {
    min-height: 100%
    background: #000
}

.main.screen {
    button {
        display: block
        width: 80%
        margin: 1em auto
        padding: 1em
        background: transparent
        border: 2px solid #fff
        border-radius: 8px
        color: #fff
        box-shadow: 0 0 5px rgba(240,240,255,0.1)
        text-transform: uppercase
        font-size: 20px
        &:active {
            background: #77e
        }
    }
}
